/*
font-family: 'Bebas Neue', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Noto Sans KR', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    /*overflow: hidden;*/
    height: 100vh;
    width: 100vw;
    font-family: 'Bebas Neue', cursive;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto;
}

.search-bar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #000;
}

.search-bar div {
    display: flex;
}

.search-bar input {
    outline: none;
    border-radius: 30px 0 0 30px;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    height: 55px;
    font-size: 22px;
    color: #5a5a5a;
}

.search-bar button {
    height: 55px;
    width: 55px;
    font-size: 22px;
    background: #d7d7d7;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-bar button:hover {
    background: #c7c7c7;
}

.content {
    display: grid;
    grid-template-rows: auto 40px;
}

.movies-grid {
    margin: 15px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 250px);
}

.movies-grid .movie {
    position: relative;
    width: 100%;
    background: red;
}

.movie img {
    opacity: 0;
    width: 100%;
    height: 50px;
}


.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li {
    color: #fff;
    border-radius: 5px;
    list-style: none;
    display: inline-block;
    background: #5a5a5a;
    padding: 5px;
}
